body {
  margin: 0px;
}
h2 {
  font-size: 50px;
  font-family: "Lobster", cursive;
}
h3 {
  font-size: 20px;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
section {
  height: 500px;
  margin-bottom: 150px;
}
.span1 {
  color: rgb(255, 255, 255);
}
.welcome {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.welcome img {
  width: 80%;
  padding-top: 10px;
}
.top-banner {
  background-image: linear-gradient(90deg, rgb(236, 232, 3), tomato);
}
.link {
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(219, 90, 5), rgb(143, 13, 143));
  padding: 15px 20px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  box-shadow: 10px 10px 30px rgb(201, 140, 8);
}
